h1, h2, a {
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h1 {
	font-weight: 400;
	/*color: #0D2C40;*/
	font-size: 45px;
	margin: 0;

}

h2 {
	font-weight: 600;
	color: #0D2C40;
	font-size: 20px;
}

nav a {
	font-weight: 600;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 18px;
	margin: 20px;
	border-bottom: 2px solid transparent;
}

p a {
	color: #F15831;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}

body {
	text-align: center;
	margin: 0;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	padding: 20px;
}

main {
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 40px 8px 0px 8px;
}

footer {
	text-transform: uppercase;
	padding: 0px 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #F15831;
	font-weight: 700;
}

.resetbutton {
	background-color: #00A6B3;
	display: inline-block;
	padding: 10px 20px;
	margin: 20px auto;
	color: white;
	border: 1px solid black;
	border-radius: 10px;
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 20px;
	font-weight: 600;
}

.resetbutton:hover {
	background-color: #F15831;
	color: white;
}

nav a:hover {
	border-color: white;
}

p a:hover {
	border-color: #F15831;
}